MAGIC_PUBLISHABLE_KEY=pk_live_<some-characters>
MAGIC_SECRET_KEY=sk_live_<some-characters>
SESSION_SECRET=a-sufficiently-long-secret
DATABASE_URL="file:./data.db?connection_limit=1"
SEED_USER_ID=your-user-id-from-magic-starts-with-did:ethr